@model WordSearch.Engine.Models.WordSearchGrid

<table class="ws-puzzle-grid" id="solveTable">
    @for (int row = 0; row < Model.Size; row++)
    {
        <tr>
            @for (int col = 0; col < Model.Size; col++)
            {
                var cell = Model.Grid[row, col];
                <td class="ws-grid-cell" data-row="@row" data-col="@col">@cell</td>
            }
        </tr>
    }
</table>
